body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #ffe6f0;
}

header {
  background: #ff66b2;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

#lista-projetos {
  display: flex;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

footer {
  background: #ff66b2;
  color: white;
  text-align: center;
  padding: 10px;
}
